@model WebApplication_Core.Models.Staff
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="Edit">
            @Html.AntiForgeryToken()
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label>Last name</label>
                <input type="text" class="form-control" name="LastName" placeholder="last name" value="@Model.LastName" required>
            </div>
            <div class="form-group">
                <label>First name</label>
                <input type="text" class="form-control" name="FirstName" placeholder="first name" value="@Model.FirstName" required>
            </div>
            <div class="form-group">
                <label>Staff No</label>
                <input type="text" class="form-control" name="StaffNo" placeholder="staff no" value="@Model.StaffNo" required>
            </div>
            <div class="form-group">
                <label>Designation</label>
                <input type="text" class="form-control" name="Designation" placeholder="designation" value="@Model.Designation" required>
            </div>
            <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" name="Address" placeholder="address" required>@Model.Address</textarea>
            </div>
            <button class="btn btn-success" type="submit">Update Staff</button>
        </form>
    </div>
</div>
